{% extends 'base.html' %}
{% load static %}
{% block title %} About Me {% endblock %}


    {% block content %}
        <section class="flex flex-row mx-auto items-center justify-center" >
            <div class="py-4 border-1 shadow-lg px-6 " >
                <h1 class="text-2xl text-gray-600" > About Bright Wumbei
                </h1>
                <p> 
                
                <p class="text-lg text-gray-600 py-3" > Hi, I'm Bright Wumbei, a dedicated software developer with a strong passion for creating <span class="font-bold" >innovative solutions</span> to complex problems. My expertise spans across multiple programming languages and frameworks, including  <span class="font-bold" >Python, Django, JavaScript, React, Vue, PHP, and Laravel</span>. I also have a solid foundation in database management with MySQL </p>
                <p class="text-lg text-gray-600" > Driven by a love for problem-solving, I approach each project with a deep commitment to excellence. My core values—passion and problem-solving—guide me in delivering high-quality, impactful software that meets users' needs. Whether working on web applications or backend systems, I strive to build reliable and efficient solutions that make a difference. </p>
                
                <p class="text-lg text-gray-600" > I'm always up for making a great espresso and showing off my latte art skills. A food enthusiast at heart, I'm your go-to for the next potluck.

                </p>
                <p class="text-lg text-gray-600  font-bold " > I'm eager to connect and collaborate – reach out!

                </p>
                <p class="text-lg text-gray-600" >  </p>
                <p class="text-lg text-gray-600" >  </p>
            </div>
           
        </section>
        <section class="flex flex-row justify-center items-center mx-8 my-4 " >
            <div class="bg-gray-200 border-lg p-6 rounded-lg">
                <h2 class="text-xl text-orange-600 font-bold text-center " >Get in Touch</h2>
            
            <p>
                <a class="hover:text-red-400" href="mailto:brightwumbei2018@gmail.com">brightwumbei2018@gmail.com</a>
            </p>
            </div>
        </section>
    
    {% endblock %}
    