{% extends 'base.html' %}
{% load static %}
{% block title %} {{project.title}} {% endblock %}


    {% block content %}
        <section class="flex flex-row mx-auto items-center justify-center" >
            <div class="py-4 border-1 shadow-lg" >
                <h1 class="text-2xl text-gray-600" >  {{project.title}} </h1>
                
                <div>
                    <img src="{{project.picture.url}} " alt="{{project.title}}">
                </div>
                <div class="text-lg px-10 text-gray-600" > {{project.body|safe}} </div>
            </div>
           
        </section>
        <section class="flex flex-row justify-center items-center mx-8 my-4 " >
            <div class="bg-gray-200 border-lg p-6 rounded-lg  ">
                <h2 class="text-xl text-orange-600 font-bold text-center py-2 " >Get in Touch</h2>
            <div class=" flex items-center justify-center " >
                <img src="{% static 'img/contact.jpg' %}" style="width: 200px; height: 150px;"  alt="contact">
            </div>
            <p class="p-4" >
                <a class="hover:text-red-400" href="mailto:brightwumbei2018@gmail.com">brightwumbei2018@gmail.com</a>
            </p>
            </div>
        </section>
    
    {% endblock %}
    